<ion-view>
<ion-nav-bar class="bar-dark" title="Casd">  
  <ion-nav-buttons side="left">

    <button class="button button-icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
 <ion-nav-title>
      <h2 class="title">Events</h2>
    </ion-nav-title>
  <ion-nav-buttons side="right">
           <button class="button button-clear icon ion-plus" ng-click="newEvent()"></button>
  </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="content">
    <div class="card" ng-repeat="event in events">
  <div class="item item-divider">
    {{event.title}}
  </div>
  <div class="item item-text-wrap">
  	<p>
  	Beginnt: {{event.begin}}<br>
  	{{event.description}}
  </p>
  </div>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment,
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>
</div>
<br>
<br>
<br>
  </ion-content>
</ion-view>
