<div class="modal">

<ion-header-bar>
	<h1 class="title">Neues Event</h1>
	<div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
</ion-header-bar>

<ion-content>

<div class="card">

	<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Titel</span>
    <input type="text" placeholder="Event Titel" id="event_title">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Beschreibung</span>
    <input type="text" placeholder="Beschreibung" id="event_description">
  </label>
 <label class="item item-input item-stacked-label">
    <span class="input-label">Beginn</span>
    <input type="text" placeholder="Beginn" id="event_begin">
  </label>
<label class="item item-input item-stacked-label">
    <span class="input-label">Ende</span>
    <input type="text" placeholder="Ende" id="event_end">
  </label>
</div>

<button class="button button-full button-positive" ng-click="sendData()">Event speichern</button>

</div>


</div>