body.controller-analytics {

  // TILES
  #analytics-tiles {
    margin-top: 40px;

    div.analytics-tile {
      height: 130px;
      @media (max-width: 511px) {
        width: 100%;
      }
      div.subtile {
        height: 130px;
        width: 50%;
        @media (min-width: 512px) and (max-width: 767px) {
          width: 100%;
        }
        float: left;
        clear: right;

        div.tile-value {
          text-align: center;
          a, .a-analytics {
            color: #fff;
            font-size: 17px;
            &:hover {
              text-decoration: none;
            }
          }
        }
        div.tile-value.tile-number {
          padding: 25px 0px 2px 0px;
          @media (max-width: 767px) {
            padding-top: 35px;
          }
          a, .a-analytics {
            font-size: 30px;
          }
        }
        div.tile-value.tile-string {
          padding: 0 5%;
          line-height: 18px;
        }
      }
    }

    div.tile-green {

      div.subtile-left {
        background-color: $green;
      }

      div.subtile-right {
        background-color: $green50;
      }
    }

    div.tile-black {

      div.subtile-left {
        background-color: $black;
      }

      div.subtile-right {
        background-color: $grey;
      }
    }

    div.analytics-tile-1 {
      div.subtile-right {
        background-image: url("/images/dashboard-bewerbungen.png");
        background-size: 55% auto;
        @media (max-width: 767px) {
          background-size: 110px auto;
        }
      }
      div.subtile {
        &:hover {
          cursor: pointer;
        }
      }
    }


    div.analytics-tile-2 {
      @media (max-width: 511px){
        margin-top: 20px;
      }
      div.subtile-right {
        background-image: url("/images/analytics-einstellungen.png");
        background-size: 35% auto;
        @media (max-width: 991px) {
          background-size: 37% auto;
        }
        @media (max-width: 767px) {
        }
      }
    }

    div.analytics-tile-3 {
      @media (max-width: 511px){
        margin-top: 20px;
      }
      div.subtile-right {
        background-image: url("/images/dashboard-stellenanzeigen.png");
        background-size: 25% auto;
        @media (max-width: 991px) {
          background-size: 25% auto;
        }
        @media (max-width: 767px) {
          background-size: 50px auto;
        }
      }
      div.subtile {
        &:hover {
          cursor: pointer;
        }
      }
    }

    div.analytics-tile {
      div.subtile-right {
        background-position: center;
        background-repeat: no-repeat;
        @media (min-width: 512px) and (max-width: 767px) {
          display: none;
        }
      }
    }
  }// END TILES

  // CHARTS
  #analyticsCharts {

    margin-bottom: 50px;

    .background-wrapper {
      background-color: $greyBG;

      .header {
        padding: 15px 20px;
        color: #fff;
        span {
          cursor: help;
        }
      }

      canvas {
        margin-top: 60px;
        margin-bottom: 30px;
      }
    }

    .first-col {
      .background-wrapper {
        .header {
          background-color: $green;
        }
        canvas {}
      }
    }

    .second-col {
      @media (max-width: 767px) {
        margin-top: 50px;
      }
      .background-wrapper {
        .header {
          background-color: $black;
        }
        canvas {}
      }
    }

    #charts-first-row, #charts-second-row, #charts-third-row, #charts-fourth-row {
      margin-top: 50px;
    }
  }// END CHARTS

  #analyticsTable {
    tr {
      td.first-col, th.first-col {
        width: 35%;
      }
      td.second-col, th.second-col {
        width: 10%;
        text-align: right;
      }
      td.third-col, th.third-col {
        width: 10%;
        text-align: right;
      }
      td.fourth-col, th.fourth-col {
        width: 10%;
        text-align: right;
      }
      td.fifth-col, th.fifth-col {
        width: 10%;
        text-align: right;
      }
      td.sixth-col, th.sixth-col {
        width: 10%;
        text-align: right;
      }
      td.seventh-col, th.seventh-col {
        width: 10%;
        text-align: right;
      }
      td.eight-col, th.eight-col {
        width: 5%;
        text-align: right;
      }
      td.ninth-col, th.ninth-col {
        width: 5%;
        text-align: right;
        @media (min-width: 992px) {
          width: 0%;
          text-align: right;
        }
      }

      .footable-row-detail-cell {
        padding-bottom: 0px;
        .footable-row-detail-row {
          margin-top: 8px;
        }
      }


    }
  }
}