// Applications overview
.controller-application{
	a{
		color:$black;
		&:hover{
			color:$green;
		}
	}
	
	a.btn{
		&:hover{
			color:#fff;
		}
	}
	
	.footable .footable-row-detail .footable-row-detail-inner{
		border: none;
	}
	
	.footable-row-detail-cell{
		border-bottom: 1px solid #dddddd;
	}
}

.controller-application.action-index{
	div.summary{
		display:none;
	}
	
	div.searchBtn {
		margin-top: 15px;
		text-align: right;
	}
}


// Create and edit application
.controller-application.action-add-data{
	div.summary{
		display:none;
	}
	
	div.saveBtn {
		margin-top: 15px;
		text-align: right;
	}
	
	.form-group{
		margin-bottom:0px;
	}
	
	#covercreateform-text{
		margin-top: 20px;
		height: 40vh;
	}
	
	span.attached{
		color:$green;
	}
	
	.footable-row-detail-value{
		padding: 10px 10px 10px 140px;
	}
	
}