// Applications overview
.controller-application{
	
	// General Stylings
	
	pre{
		background-color:transparent;
		color:$greyFont;
		overflow:visible;
		border-radius:0px;
		-webkit-border-radius:0px;
	}
	
	// Recruiter Stylings
	
	
	
	// Applicant and General Stylings
	
	a.btn{
		&:hover{
			color:#fff;
		}
	}
	
	a:not(.btn){
		color:$green;
		&:hover,&:focus,&:active{
			color:$green50;
		}
	}
	
	.footable .footable-row-detail .footable-row-detail-inner{
		border: none;
	}
	
	.footable-row-detail-cell{
		border-bottom: 1px solid #dddddd;
	}
	
	div.summary{
		display:none;
	}
}

.controller-application.action-index{
	
	// Recruiter Stylings
	
	.footable .footable-row-detail .footable-row-detail-inner{
		border: none;
	}
	
	.footable-row-detail-cell{
		border-bottom: 1px solid #dddddd;
	}
	
	.footable-row-detail-row{
		padding:5px 0px;
	}
	
	table#applicationsTable{
		img{
			vertical-align:middle;
			margin-right:8px;
		}
		
		.scoreInput{
			border-radius: 50%;
			width: 50px;
			height: 50px;
			border: $grey 1px solid;
			background-color: transparent;
			text-align: center;
			font-size: $fontbase*1.6;
			color: $green;
		}
	}
	
	// Applicant and General Stylings
	
	div.resume-index{
		a:not(.btn){
			color:$green;
			&:hover,&:focus,&:active{
				color:$green50;
			}
		}
	}
	
	div.summary{
		display:none;
	}
	
	div.searchBtn {
		margin-top: 15px;
		text-align: right;
	}
}

// View Application

.controller-application.action-view{

	// Recruiter View
	
	div.row.first{
		margin-top:20px;
		h2:first-child{
			margin-top:0px;
		}
		
		div.profileInfo{
			text-align:center;
			h2{
				margin-top:20px;
			}
		}
		
		.scoreInput{
			border-radius: 50%;
			width: 100px;
			height: 100px;
			max-width:100%;
			max-height:100%;
			border: $grey 1px solid;
			background-color: transparent;
			text-align: center;
			font-size: $fontbase*3;
			color: $green;
			&:focus{
				outline: none;
			}
		}
	}
	
	

}

// Create and edit application
.controller-application.action-add-data{

	// Recruiter Stylings
	
	
	
	// Applicant and General Stylings
	
	div.application-create{
		a:not(.btn){
			color:$green;
			&:hover,&:focus,&:active{
				color:$green50;
			}
		}
	}
	
	div.saveBtn{
		margin-top: 15px;
		text-align: right;
	}
	
	div.sendBtn {
		margin-top: 15px;
		text-align: right;
	}
	
	.form-group{
		margin-bottom:0px;
	}
	
	#covercreateform-text{
		margin-top: 20px;
		height: 40vh;
	}
	
	span.attached{
		color:$green;
	}
	
	.footable-row-detail-value{
		padding: 10px 10px 10px 140px;
	}
	
}