body.controller-company {

  .container {
    .company-view {
      > div {
        margin-top: 20px;
      }

      h2.table-header {
        margin-top: 60px;
      }
    }
  }



  #w0 {
    .summary {
      display: none;
    }


  table {
    thead {
      tr {
        th {

        }
        th.first-col {
          width: 50%;
        }
        th.second-col {
          text-align: right;
          width: 15%;
        }
        th.third-col {
          text-align: right;
          width: 15%;
        }
        th.fourth-col {
          text-align: right;
          width: 30%;
        }
        th.fifth-col {
          width: 0%;
        }
      }
    }
    tbody {
      tr {
        td {}
        th.first-col {}
        th.second-col {
          text-align: right;
        }
        th.third-col {
          text-align: right;
        }
        th.fourth-col {
          text-align: right;
        }
        th.fifth-col {}
      }
    }
  }






  }



}