body.controller-company {

  .container {
    .company-view {
      > div {
        margin-top: 20px;
      }

      h2.table-header {
        margin-top: 60px;
      }
    }
  }



  #w0 {
    .summary {
      display: none;
    }
  }



}