body.controller-dashboard{

  .summary {
    display: none;
  }

  // TILES RECRUITER
  div.container {
    div.row {
      margin-top: 20px;
      div.dashboard-tile {
        height: 130px;
        padding: 0px 1%;
        @media (max-width: 511px) {
          width: 100%;
        }
        div.subtile {
          height: 130px;
          width: 50%;
          float: left;
          clear: right;
          &:hover {
            cursor: pointer;
          }
          div.tile-value {
            text-align: center;
            a {
              color: #fff;
              font-size: 17px;
              &:hover {
                text-decoration: none;
              }
            }
          }
          div.tile-value.tile-number {
            padding: 25px 0px 2px 0px;
            a {
              font-size: 30px;
            }
          }
          div.tile-value.tile-string {
            padding: 0 5%;
            line-height: 18px;
          }
        }
      }

      div.col-lg-3.tile-green {

        div.subtile-left {
          background-color: $green;
        }

        div.subtile-right {
          background-color: $green50;
        }
      }

      div.col-lg-3.tile-black {

        div.subtile-left {
          background-color: $black;
        }

        div.subtile-right {
          background-color: $grey;
        }
      }

      div.dashboard-tile-1 {
        div.subtile-right {
          background-image: url("/images/dashboard-neue-bewerbungen.png");
          background-size: 55% auto;
          @media (max-width: 991px) {
            background-size: 40% auto;
          }
          @media (max-width: 767px) {
            background-size: 80px auto;
          }
        }
      }
      div.dashboard-tile-2 {
        @media (max-width: 511px) {
          margin-top: 20px;
        }
        div.subtile-right {
          background-image: url("/images/dashboard-nachrichten.png");;
          background-size: 50% auto;
          @media (max-width: 991px) {
            background-size: 45% auto;
          }
          @media (max-width: 767px) {
            background-size: 90px auto;
          }
        }
      }
      div.dashboard-tile-3 {
        div.subtile-right {
          background-image: url("/images/dashboard-stellenanzeigen.png");
          background-size: 35% auto;
          @media (max-width: 991px) {
            background-size: 25% auto;
          }
          @media (max-width: 767px) {
            background-size: 50px auto;
          }
        }
      }
      div.dashboard-tile-4 {
        div.subtile-right {
          background-image: url("/images/dashboard-bewerbungen.png");
          background-size: 55% auto;
          @media (max-width: 767px) {
            background-size: 110px auto;
          }
        }
      }

      div.dashboard-tile {
        div.subtile-right {
          background-position: center;
          background-repeat: no-repeat
        }
      }

      div.dashboard-tile-3, div.dashboard-tile-4 {
        @media (max-width: 991px) {
          margin-top: 20px;
        }
      }
    }
  }
  // END TILES RECRUITER


  // Newest Applications Table RECRUITER
  #NewestApplicationsTable {
    thead {
      tr{
        th{
          &:nth-of-type(4),&:nth-of-type(5){
            text-align: right;
          }
        }

      }
    }
    tbody {
      tr {
        td {
          img {
            width: 50px;
            height: auto;
            border-radius: 25px;
            cursor: pointer;
          }
          span.glyphicon-eye-open {
            cursor: pointer;
            &:hover {
              color: $green;
            }
          }
        }
        td[data-title="Picture"] {
          width: 10%;
        }
        td[data-title="Name"] {
          width: 30%;
        }
        td[data-title="Ad"] {
          width: 34%;
        }
        td[data-title="Date"] {
          width: 16%;
          text-align: right;
        }
        td[data-title="View"] {
          width: 10%;
          text-align: right;
        }
        td[data-title="data-toggle"] {
          text-align: right;
          width: 5%;
        }
      }
      tr.footable-row-detail {
        div.footable-row-detail-inner {
          padding-bottom: 25px;
          height: auto;
        }
      }
    }
  } // END Newest Applications Table RECRUITER


  #DashboardMessages, #DashboardFavorites {
    thead {
      th:nth-of-type(1) {
        width: 5%;
      }
      th:nth-of-type(2) {
        width: 40%;
      }
      th:nth-of-type(3) {
        width: 30%;
      }
      th:nth-of-type(4) {
        width: 20%;
      }
      th:nth-of-type(5) {
        width: 20%;
      }

      @media (max-width: 767px) {
        th.footable-last-column {
          width: 5%;
        }
      }
    }

    tbody {
      td.footable-last-column {
        text-align: right;
      }
      td {
        div.empty {
          text-align: left;
        }
      }

    }
  }

  .userDashboardMessagesHeader {
    color: $green;
    &:hover {
      color: $green50; // TODO: Change hover color
    }
  }

  .userDashboardFavoritesHeader {
    margin-top: 50px;
    color: $green;
    &:hover {
      color: $green50; // TODO: Change hover color
    }
  }

  // FIX for Profile Picture
  #DashboardMessages {
    thead {
      @media (max-width: 767px) {
        th:nth-of-type(3) {
          width: 50%;
        }
      }
    }
    tbody {
      tr {
        td:nth-of-type(3) {
          img {
            float: left;
          }
          div.message-sender {
            margin-left: 60px;
            margin-top: 14px;
          }
        }
      }

      .footable-row-detail-cell {
        height: auto;

        .footable-row-detail-row:nth-of-type(1) {
          height: 60px;
          .message-sender {
            display: inline-block;
            @media (max-width: 511px) {
              margin-left: 10px;
              margin-top: 18px;
              vertical-align: top;
            }
          }
        }
      }

    }



  }

}


