.controller-favourites.action-index{
	.footable .footable-row-detail .footable-row-detail-inner{
		border: none;
	}
	
	.footable-row-detail-cell{
		border-bottom: 1px solid #dddddd;
	}

	div.summary{
		display:none;
	}
	
	div.searchBtn {
		margin-top: 15px;
		text-align: right;
	}
	
	@media screen and (max-width:786px){
		.footable-row-detail-value{
			span.glyphicon{
				padding-top:10px;
			}
		}
	}
}