#header {
  background: $black;
  border: none;
  height: 60px;
  user-select: none;

  @include font-header();

  @media (max-width: 991px) {
    height: 60px;
    background: none;
    border: none;
  }

  div.container {
    width: 100%;
    padding-left: 0px;

    .navbar-header {
      padding: 40px 0px;
      margin-top: -70px;

      a.navbar-brand {
        padding: 25px 15px 0px 50px;
        img#navbar-logo {
          width: 100px;
		  margin-top:20px;
        }
        @media(max-width: 991px) {
          display: none; // Bugfix
        }
      }
    }
    #header-collapse ul.navbar-nav {
	  
	  margin-right: -5px;

      > li {
        padding: 0px;
        color: $grey;
        a{
		  padding: 20px 15px;
          &:hover {
            color: $green;
          }
        }
		.glyphicon{
			font-size:0.8em;
		}
        > ul.dropdown-menu {
          border-radius: 0px;
          min-width: 1px;
          top: 60px;
          background-color: $black;
          border: none;
		  margin-top:10px;
          li {
            display: inline-block;
            float: left;
            padding: 0px 10px 10px 10px;
            &:nth-child(1){
              padding-top: 10px !important;
            }
            a {
              color: $greyFont;
			  padding: 3px 20px;
              &:hover,&:focus,&:active {
                background: none;
                color: $green;
              }
            }
          }
        }
      }
	  
	  > li.dropdown.open:after{
			background-image: url("/images/caret-black.png");
			background-position: center bottom;
			background-repeat: no-repeat;
			height: 10px;
			width:100%;
			display:block;
			content:" ";
			transition: display 0.2s ease-in-out;
		}

      li.dropdown {
        margin-right: -10px;
      }

      > li.active {
        a {
          background: none;
          color: $green;
        }
      }

      > li.open {
        
        > a {
          background: none;
          &:focus, &:hover {
            color: $green !important;
            background: none;
          }
        }
      }
    }
  }
  @media (max-width: 991px) {  // BEGIN MOBILE STYLING

    div.container {
      margin: 0;
      padding: 0;

      .navbar-header {
        float: none;
        background: none;
        padding: 0;
        margin: 0;

        button.navbar-toggle {
          display: block;
          background-color: $green;
          border-radius: 22px;
          height: 42px;
          float: none !important;
          margin: 15px 0px 0px 15px;
          border: none;
          cursor: pointer;
          user-select: none;
          z-index: 1;

          border: 1px solid #fff;
          -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.12), 0 1px 2px 0 rgba(0,0,0,.24);
          -moz-box-shadow:    0 1px 3px 0 rgba(0,0,0,.12), 0 1px 2px 0 rgba(0,0,0,.24);
          box-shadow:         0 1px 3px 0 rgba(0,0,0,.12), 0 1px 2px 0 rgba(0,0,0,.24);

        }

        //Styling of Hamburger Icon animation
        $hamburger-button-size: 22px;
        $hamburger-button-transition: .3s;

        button.navbar-toggle {

          .icon-bar{
            -webkit-transition: $hamburger-button-transition;
            -moz-transition: $hamburger-button-transition;
            -ms-transition: $hamburger-button-transition;
            -o-transition: $hamburger-button-transition;
            transition: $hamburger-button-transition;
          }
          .icon-bar:nth-of-type(2){
            position: absolute;
            top: 11px;
          }
          .icon-bar:nth-of-type(3){
            margin-top: 0px;
          }
          .icon-bar:nth-of-type(4) {
            position: absolute;
            top: 23px
          }
          &:active {
            transition: 0s;
          }
          &:hover {
            .icon-bar:nth-of-type(2) {
              top: 9px;
            }
            .icon-bar:nth-of-type(4) {
              top: 25px;
            }
          }
        }
        button.navbar-toggle.clicked {
          left: 163px;

          .icon-bar:nth-of-type(2){
            width: $hamburger-button-size/1.8;
            transform: rotate3d(0,0,1,-40deg);
            -webkit-transform: rotate3d(0,0,1,-40deg); //iOs fix
            top: 15px;
            left: 9px;
          }
          .icon-bar:nth-of-type(4) {
            width: $hamburger-button-size/1.8;
            transform: rotate3d(0,0,1,40deg);
            -webkit-transform: rotate3d(0,0,1,40deg); //iOs fix
            top: 19px;
            left:9px;
          }
        }
        // END Styling of Hamburger Icon Animation

        a.navbar-brand {
          img#navbar-logo {
            display: none;
          }
        }
      }
      #header-collapse {
        background-color: $black;
        -webkit-transition: width .4s;
        -moz-transition: width 0.4s;
        -ms-transition: width 0.4s;
        -o-transition: width 0.4s;
        transition: width .4s;

        ul.navbar-right {
          float: none !important;
          float: none !important;
          margin-top: 70px;
          margin-right: 0px;

          li {
            float: none;
            margin-left: 15px;
            margin-bottom: 10px;
            clear: both;

            a {
              padding-top: 10px;
              padding-bottom: 10px;
              &:hover,&:active,&:focus {
                color: $green;
              }
            }
          }

          li.open {
            background-image: none;
            a.dropdown-toggle {
              background: none;
              &:focus, &:hover, &:active {
                color: $green !important;
                background: none;
              }
            }
            ul#w1 {
              display: block !important;
            }
          }

          li.dropdown {
            ul#w1 {
              background: none;
              border: none;
              box-shadow: none;
              position: static;
              left: auto;
              top: auto;
              background-color: $black;
              border-radius: 0px;
              padding-bottom: 8px;
              width: 200px;
              margin-left: -35px;
              float: left;
              li {
                display: inline-block;
                float: left;
                margin: 10px 0px 0px 35px;
                padding: 0px 30px 0px 10px;
                a {
                  &:hover, &:focus, &:active {
                    background: none !important;
                    color: $green;
                  }
                }
              }
              li:nth-child(1) {
                margin-left: 35px;
                margin-top: 0px;
              }
            }
          }
		  li.dropdown.open:after{
			display:none;
		  }
		  ul.dropdown-menu{
			position:initial;
			-webkit-box-shadow:none;
			box-shadow: none;
		  }
        }
      }

      #header-collapse.slidedout {
        max-height: none;
        top:0px;
        bottom:0;
        left:0;
        width:200px;
        position:fixed;
        overflow:hidden!important;
        display: block !important;
        margin: 0;
        visibility: visible !important;
		
		.slideout-helper{
		    width: 250px;
			height: 100vh;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			overflow-x: hidden;
		}
		
      }

      #header-collapse:not(.slidedout) {
        width:0;
        max-height: none;
        visibility: hidden !important;
        display: block !important;
      }
    }
  }
}


// Styling for the animations on mobile screens
body.overflowx {
  overflow-x: hidden;
}

.wrap > .container{
  width:100%;
  position:relative;
  left:0;
  transition: 0.3s;
}

.wrap > .container.out{
  left:1px;
  padding-right: -1px;
}
// END Styling for the animations on mobile screens

// Overwrite for stupid Bootstrap styling

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: $greyFont;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: $greyFont;
}

// END Overwrite for stupid Bootstrap styling

// Fix for Container which overlaps Content
@media (max-width: 991px) {
  #header > div.container {
    height: 1px;
  }
}

li.dropdown {
  a {
    b.caret {
      border-bottom: 4px solid transparent;
      border-top: 4px solid transparent;
      border-left: 4px solid $greyFont;
    }
  }
}
li.dropdown.open {
  a {
    b.caret {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid $greyFont;
    }
  }
}