body.controller-resume.action-create {
  #w0 {
    > div {
      margin-top: 50px;
      margin-bottom: 0px;

      label[for="resumejob-report_id"] {
        margin-bottom: 10px;
      }

      textarea {
        resize: none;
      }
    }
  }





}