@import "compass/css3/border-radius";

.site-login{

	.login-field{
		text-align: center;
		background-color: rgba(45, 49, 47, 0.8);
		@include border-radius(6px);
		padding: 10px 20px;
		margin-top: 20px;
	}
	
	.login-button{
		padding: 10px 60px;
	}
	
	input {
		color: #fff;
	}

	#login-form{
		input{
			background: transparent;
			border-width: 0px 0px 1px 0px;
			box-shadow: none;
			-webkit-box-shadow: none;
			border-radius: 0px;
		}
	}
	
	.auth-clients{
		overflow:inherit;
		min-height: 100px;
	}
	
	$placeholderColor: #fff;
	
	::-webkit-input-placeholder {
	   color: $placeholderColor;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: $placeholderColor;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: $placeholderColor;  
	}

	:-ms-input-placeholder {  
	   color: $placeholderColor;  
	}

}

.action-login {

	.wrap {
	background: url('../../images/loginBG2.jpg') center top no-repeat;
	background-size: cover;
	color: #fff;
	
	h1, h2 {
		color: #fff;
	}
	
	}

}