@import "compass/css3/border-radius";

body.action-login {
  .site-login {

    //$placeholderColor: #fff;
    //
    //::-webkit-input-placeholder {
    //   color: $placeholderColor;
    //}
    //
    //:-moz-placeholder { /* Firefox 18- */
    //   color: $placeholderColor;
    //}
    //
    //::-moz-placeholder {  /* Firefox 19+ */
    //   color: $placeholderColor;
    //}
    //
    //:-ms-input-placeholder {
    //   color: $placeholderColor;
    //}

    .login-field {
      text-align: center;
      background-color: rgba(45, 49, 47, 0.8);
      @include border-radius(6px);
      padding: 10px 20px;
      margin-top: 20px;
    }

    .login-button {
      padding: 10px 60px;
    }

    input {
      color: #fff;
    }

    #login-form {
      input {
        background: transparent;
        border-width: 0px 0px 2px 0px;
        box-shadow: none;
        -webkit-box-shadow: none;
        border-radius: 0px;
      }
      .SubmitLogin {
        margin-bottom: 10px;
      }
      .requestNewPassword {
        margin-bottom: 50px;
        a {
          color: #fff;
          &:hover {
            color: $green;
          }
        }
      }
      .field-loginform-rememberme {
        label[for="loginform-rememberme"] {
          padding-left: 0px;
        }
      }
    }

    .auth-clients {
      overflow: inherit;
      min-height: 100px;
    }

    #form-signup {
      .field-signupform-checkcompanysignup {
        label[for="checkCompanySignup"] {
          padding-left: 0px;
        }
      }

      .companySetup {
        margin-top: 60px;

        .field-signupform-companysector, .field-signupform-companyemployees {
          text-align: left;
          select {
            margin-top: 10px;
          }
        }
      }

      // LOGINFORM TYPEAHEAD
      span.twitter-typeahead {
        span.tt-dropdown-menu {
          border-radius: 0px;
          background-color: rgba(45, 49, 47, 0.95);
          box-shadow: 0 0 5px 1px rgba(156, 156, 156, 1);
          div.tt-suggestion {
            text-align: left;
            > p {
              color: #fff;
            }
          }
        }
      }

      .field-signupform-companyname.has-success,
      .field-signupform-companyaddresszip.has-success,
      .field-signupform-companyaddresscity.has-success {
        > div {
          > .twitter-typeahead {
            input {
              border-bottom: $FormBorderFocused;
            }
          }
        }
      }
      // END LOGINFORM TYPEAHEAD
    }
  }
}

.action-login {

  .wrap {
    background: url('../../images/loginBG2.jpg') center top no-repeat;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;

    h1, h2 {
      color: #fff;
      margin-bottom: 40px;
    }

  }

}


