body.controller-message {

  .btn-newMessage {
    float: right;
    clear: left;
  }

  .btn-newMessageSecond {
    float: right;
    clear: left;
    margin-top: -57px;
  }

  div.summary {
    margin-top: 30px;
  }

  table#inboxTable {
    margin-top: 10px;


    tr {
      td {
        div.profile-picture-thumbnail {
          margin-right: 10px;
        }
        div.message-sender {
          margin-top: 18px;
        }
        a:hover {
          div.profile-picture-thumbnail {
            background: $DefaultThumbnailHover;
          }
        }
        a[title="Anzeigen"] {
          margin-right: 40px;
        }
      }

      td.first-col {
        width: 5%;
      }
      td.second-col {
        width: 35%;
        @media (max-width: 769px) {
          width: 50%;
        }
      }
      td.third-col {
        width: 25%;
        @media (max-width: 769px) {
          width: 50%;
        }
      }
      td.fourth-col {
        width: 20%;
      }
      td.fifth-col {
        width: 15%;
        text-align: right;
        padding-right: 20px;
      }



    }



  }
}

body.controller-message.action-create {

  .message-create-first-row {
    margin-top: 40px;

    input[type="text"], span.tt-dropdown-menu {
      max-width: 400px;
    }

  }

  #message-content {
    max-width: 600px;


    background-image: url("/images/textarea-grippe.png");
    background-position: right bottom;
    background-repeat: no-repeat;


  }



}