body.controller-message {

  .btn-newMessage {
    float: right;
    clear: left;
  }

  .btn-newMessageSecond {
    float: right;
    clear: left;
    margin-top: -57px;
  }

  div.summary {
    margin-top: 30px;
  }

  table#inboxTable {
    margin-top: 10px;
  }
}

body.controller-message.action-create {

  .message-create-first-row {
    margin-top: 40px;
  }

  input[type="text"], span.tt-dropdown-menu {
    max-width: 400px;
  }

  #message-content {
    border: none;
    border-bottom: $FormBorderNonFocused;
    border-top: $FormBorderNonFocused;
    box-shadow: none;
    max-width: 600px;
  }



}